
<div class="container">

<form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)" class="form-group">
  
     <div class="form-group">
      <label>Name</label>
      <input type="text" name="form-control" #uname="ngModel" required ngModel >
          <div class="alert alert-danger"  [hidden] = "uname.valid || uname.pristine">
        Enter User name
      </div>
     </div>
     <div class="form-group">
      <label>Last Name</label>
      <input type="text" name="form-control" #lname ngModel required>
     </div>
     <div class="form-group">
      <label>City</label>
      <input type="text" name="form-control" #city ngModel required>
     </div>
     <div class="form-group">
      <label>street</label>
      <input type="text" name="form-control" #street ngModel required>
     </div>

     <button class="btn btn-primary" type="submit">Sign-in </button>
</form>

<div class="list">
  {{departmentId}}

</div>
</div>